/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
third-party.log
.nrepl-port
supernal.log.*
supernal.log
public
hosts
scripts
re-mote.log*
.curve
re-mote.rec
re-mote.gif
tty.gif
