; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "riemann.log"})

(let [host "127.0.0.1"]
  (tcp-server {:host host})
  (udp-server {:host host}))

(instrumentation {:enabled? false})

(periodically-expire 60)

(let [index (index)]
  (streams
    index
    (where (and (tagged "success") (not (expired? event)) (= (:type event) "cpu") (service "idle") (<= 0 metric 10))
      (with :state "error" index)
      prn
     )
  ))
