; -*- mode: clojure; -*-
; vi: filetype=clojure

(logging/init {:file "riemann.log"})

(let [host "127.0.0.1"]
  (tcp-server {:host host})
  (udp-server {:host host}))

(instrumentation {:enabled? false})

(periodically-expire 10)

(defn int-cores [es]
  (map
    (fn [e] (update e :cores (fn [v] (Integer/parseInt v)))) es))

(defn high-cpu-load [{:keys [cores metric]}]
  (< (* 2 cores) metric))

(def config
  (let [home (System/getProperty "user.home")]
    (clojure.edn/read-string (slurp (str home "/.re-ops.edn")))))

(def email
  (mailer (get-in config [:re-mote :smtp])))

(def to (get-in config [:riemann :to]))

(let [index (index)]
  (streams
    (default :ttl 60
       index
      (where (and (tagged "success") (not (expired? event)))
         (where (service "disk-usage")
           (by :host
              (where (<= 90 metric 100)
                 (email to))))

         (where (service "cpu/idle")
           (by :host
             (fixed-event-window 10
                (smap folds/mean
                   (where (<= 0 metric 10)
                          (email to))))))

           (where (service "load/one")
              (by :host
                 (fixed-event-window 10
                   (smap int-cores
                      (smap folds/mean
                        (where* high-cpu-load (email to)))))))

           (where (service "load/five")
              (by :host
                 (fixed-event-window 5
                   (smap int-cores
                      (smap folds/mean
                        (where* high-cpu-load (email to)))))))))))
