{
  :smtp {
     :host "smtp.gmail.com"
     :user ""
     :pass ""
     :ssl :yes!!!11
  }

 :es {
    :host "localhost"
    :port 9200
    :index "re-mote"
    :user "elastic"
    :pass "changeme"
  }

}

